  <div class="container">
  <div class="panel-default">
    <div class="panel-body"><h5><small>&copy; Northwest Missouri State University - Nilantha Dambadeniya</small></h5></div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>