<div class="container">
	<div class="page-headder">
	<img src="http://i64.tinypic.com/dh3kv5.jpg" >		
	</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Nilantha</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/aboutMe">About Me</a></li>
      <li><a href="/Contacts">Contacts</a></li>
      <li><a href="/guestBook">Gust Book</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href="/"><span class="glyphicon glyphicon-education"></span> School</a></li>
    </ul>
  </div>
</nav>