<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    
<br><div class="list-group list-group-item active">
<h3 class="list-group-item-heading">My Contacts</h3>
</div>
<ul class="list-group">
  <li class="list-group-item list-group-item-warning">Phone : 111-111-1111</li>
  <li class="list-group-item list-group-item-info">E-mail :<a href="mailto:s528116@mail.nwmissouri.edu">nilantha@mail.com</a></li>
</ul>

<h4>Or you can connect with me by sending me a comment using the following form</h4>
<!-- Contact Form Starts Here-->
<div class="container">
  <form name="contactUs" method="post" action="mailto:s528116@mail.nwmissouri.edu">
  <fieldset>
  <legend>Your Information</legend>
  <div class="form-group row">
      <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="fName" placeholder="First Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="lName" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
      </div>
  </fieldset>
  <div class="form-group">
  <label for="comment">Comment:</label>
  <textarea class="form-control" rows="5" id="comment" placeholder="Comments"></textarea>
</div>
  <button type="button" class="btn btn-info">Contact</button>
  <button type="button" class="btn btn-info">Reset</button>

</form>
<!--Contact form ends here-->
</div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
