<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    <h1>
Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
<% if (entries.length) { %>
    <% entries.forEach(function(entry) { %>
        <div class="panel panel-default">
            <div class="panel-heading">
            <div class="text-muted pull-right">
                <%= entry.published %></div>
                <%= entry.title %></div>
            <div class="panel-body">
        <%= entry.content %>
        </div>
    </div>
<% }) %>
<% } else { %>
No entries! <a href="/new-entry">Add one!</a>
<% } %>

<footer>
        <% include ../partials/footer %>
    </footer>  
</body>
</html>