<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
<br><div class="jumbotron">
	<h3>Convert Temperature</h3>
	<h4>Fahrenheit to Celsius or Kelvin</h4>
	<form class="form-inline">
    	<div class="form-group">
     	<label for="tempF">Fahrenheit:</label>
     	<input type="text" class="form-control" id="tempF">
    	</div>
    	<span>To</span>
    	<div class="form-group">
      <select class="form-control" id="sel">
        <option>Celsius</option>
        <option>Kelvin</option>
      </select>
    </div>
   	
    	<!--<button type="button" class="btn btn-default" onclick="tempConvert()">Submit</button>-->
    	<button type="button" class="btn btn-default" onclick="App.tempConvert()">Submit</button>

      <div class="form-group">
     <input type="text" class="form-control" id="tempC" readonly>
    	</div>
  	</form>
	</div><br>

  <div class="jumbotron" id="grades">
    <h3>Calculate your Grades and GPA</h3>

    <table class="table">
      <tr>
        <th>Subject</th>
        <th>Points</th>
        <th>Grades</th>
      </tr>
      <tr>
        <td>Object Oriented Programming</td>
        <td id="oop"><input type="text" id="oopIn" placeholder="points"></td>
        <td><input type="text" id="oopGrade" placeholder="Grade" readonly></td>
      </tr>
      <tr>
        <td>Web Developing and Services</td>
        <td><input type="text" id="webIn" placeholder="points"></td>
        <td><input type="text" id="webGrade" placeholder="Grade" readonly></td>
      </tr>
      <tr>
        <td>Advance DBMS Topics</td>
        <td><input type="text" id="adbIn" placeholder="points"></td>
        <td><input type="text" id="adbGrade" placeholder="Grade" readonly></td>
      </tr>
    </table>
    <button onclick="calGPA()">GPA</button>
    <input type="text" readonly placeholder="GPA" id="gpa">
  </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
  <script src = convert.js></script>  
</body>
</html>