<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
<h2>Write a new entry</h2>
<form method="post" role="form">
<div class="form-group">
<label for="title">Title</label>
<input type="text" class="form-control" id="title"
  name="title" placeholder="Entry title" required></div>

<div class="form-group">
<label for="content">Entry text</label>
<textarea class="form-control" id="body" name="body"
placeholder="Please enter your comments." rows="3" required></textarea></div>

<div class="form-group">
<input type="submit" value="Post entry" class="btn btn-primary"></div>
</form>
<footer>
        <% include ../partials/footer %>
    </footer>  
</body>
</html>